@model WebAppMVC.Application.ViewModel.Item.ListCategoryForVM

@{
    ViewData["Title"] = "GetAllCategory";
}
<div style="text-align:center">
<h1>Get All Category</h1>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="GetAllCategory" asp-controller="Category" method="post">
    <div class="row">
        <input type="submit" asp-for="SearchString" name="searchString" id="searchString"/>
        <input type ="text" value="Search category"/>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Category name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Category)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditCategory", new {id=item.Id}) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "DeleteCategory", new { id=item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
             <tr>
                 @for (int i = 1; i < Math.Ceiling(Model.TotalCount / (double)Model.PageSize); i++)
                 {
                     <td>
                            @if (i != Model.CurrentPage)
                            {
                                <a href="javascript:PagerClick(@i)">@i</a>
                            }
                            else
                            {
                                <span>@i</span>
                            }
                     </td>
                 }
                </tr>
            </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="2" />
        </div>
</form>

@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}