@model WebAppMVC.Application.ViewModel.Item.ListTypeForListVM

@{
    ViewData["Title"] = "GetAllType";
}

<h1>GetAllType</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" asp-controller="Tag" method="post">
    <div class ="row"/>
        <input type = "text" asp-for = "SearchString" name = "searchString" id ="searchString"/>
        <input type = "submit" asp-action = "Wyszukaj"/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Type) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<div class="row">
    <table>
        <tr>
            @for (int i = 1; i < Math.Ceiling(Model.TotalCount / (double)Model.PageSize); i++)
            {
                <td>
                    @if(i != Model.CurrentPage)
                    {
                        <a href ="javascript:PagerClick(@i)">@i</a>
                    }
                    else
                    {
                        <span>@i</span>
                    }
                </td>
            }
        </tr>
    </table>
    <input type="hidden" name="pageNo" id="pageNo"/>
    <input type="hidden" name="pageSize" id="pageSize" value="2" />
</div>
</form>